html body{
    margin: 0;
    padding: 0;
}
h1 {
    color: #333fff;
    font-size: 26pt;
}
.img {
    height: 60px;
}
.menu{
    width: 100%;
}
.menu li{
    font-weight: bold;
    list-style: none;
    display: inline;
    background-color: black;
    color: white;
    padding: 8px;
}

footer li {
    display: inline;
    color: white;
    padding: 8px;
    
}
footer ul {
    text-align: center;
}
footer{
    background-color: black;
    padding: 3rem 3.5rem;
    font-weight: bold;
}


main{
    height: 60vh;
}
p{
    color: white;
    text-align: center;
}

